@mixin icon-text ($fontSize) {
    display: flex;
    align-items: center;

    span {
        font-size: $fontSize;
        cursor: pointer;
    }
}

@mixin carousel-icon ($direction) {
    background-image: url('../../images/carousel-nav-icon.svg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    transform: rotate($direction);

    &::after {
        display: none;
    }
}