@import '../themes/theme.scss';

.main-sec-row-3 {
    .row-3-head {
        padding: 2rem 0;
        border-top: 1px solid $border-color;
    }
    .row-3-img-container {
        display: flex;
        padding-bottom: 8rem;
    }
    .row-3-quote-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}