@import '../themes/theme.scss';
@import '../mixins/commonMixins.scss';

.main-sec-row-2 {
    .best-seller-head {
        padding: 2rem 0;
        border-top: 1px solid $border-color;
    }
    .best-seller-plp {
        padding-bottom: 2rem;
        .plp-grid {

            .swiper {
                width: 80rem;
                .swiper-button-prev {
                    @include carousel-icon(180deg);
                }
                .swiper-button-next {
                    @include carousel-icon(0deg);
                }

                @media screen and (max-width: '1280px'){
                    width: 60rem;
                }

                @media screen and (max-width: '960px'){
                    width: 45rem;
                }

                @media screen and (max-width: '720px'){
                    width: 35rem;
                }
                
                @media screen and (max-width: '563px'){
                    width: 80%;
                }
            }
        }
    }
}